/app/src
/app/build.gradle
/app/build
/.gradle
/lib/build
/.idea
gradlew.bat
gradlew
/app/.gitignore
/test/build/classes/kotlin/main/test.js
/test/build/classes/kotlin/main/test.meta.js
/test/build/classes/kotlin/main/test/app/app.kjsm
/test/build/kotlin-js-min/dev.html
/test/build/kotlin-js-min/js/_notes/dwsync.xml
/test/build/kotlin-js-min/js/app.js
/test/build/kotlin-js-min/js/base.js
/test/build/kotlin-js-min/js/crypto.js
/test/build/kotlin-js-min/js/sql.js
/test/build/kotlin-js-min/js/sqlworker.js
/test/build/kotlin-js-min/json/cdata.json
/test/build/kotlin-js-min/main/kotlin.js
/test/build/kotlin-js-min/main/kotlin.js.map
/test/build/kotlin-js-min/main/lib.js
/test/build/kotlin-js-min/main/test.js
/test/build/kotlin/compileKotlin2Js/build-history.bin
/test/build/kotlin/compileKotlin2Js/caches-js/inputs/source-to-output.tab
/test/build/kotlin/compileKotlin2Js/caches-js/inputs/source-to-output.tab.keystream
/test/build/kotlin/compileKotlin2Js/caches-js/inputs/source-to-output.tab.keystream.len
/test/build/kotlin/compileKotlin2Js/caches-js/inputs/source-to-output.tab.len
/test/build/kotlin/compileKotlin2Js/caches-js/inputs/source-to-output.tab.values.at
/test/build/kotlin/compileKotlin2Js/caches-js/inputs/source-to-output.tab_i
/test/build/kotlin/compileKotlin2Js/caches-js/inputs/source-to-output.tab_i.len
/test/build/kotlin/compileKotlin2Js/caches-js/js/class-fq-name-to-source.tab
/test/build/kotlin/compileKotlin2Js/caches-js/js/class-fq-name-to-source.tab.keystream
/test/build/kotlin/compileKotlin2Js/caches-js/js/class-fq-name-to-source.tab.keystream.len
/test/build/kotlin/compileKotlin2Js/caches-js/js/class-fq-name-to-source.tab.len
/test/build/kotlin/compileKotlin2Js/caches-js/js/class-fq-name-to-source.tab.values.at
/test/build/kotlin/compileKotlin2Js/caches-js/js/class-fq-name-to-source.tab_i
/test/build/kotlin/compileKotlin2Js/caches-js/js/class-fq-name-to-source.tab_i.len
/test/build/kotlin/compileKotlin2Js/caches-js/js/header.meta
/test/build/kotlin/compileKotlin2Js/caches-js/js/source-to-classes.tab
/test/build/kotlin/compileKotlin2Js/caches-js/js/source-to-classes.tab.keystream
/test/build/kotlin/compileKotlin2Js/caches-js/js/source-to-classes.tab.keystream.len
/test/build/kotlin/compileKotlin2Js/caches-js/js/source-to-classes.tab.len
/test/build/kotlin/compileKotlin2Js/caches-js/js/source-to-classes.tab.values.at
/test/build/kotlin/compileKotlin2Js/caches-js/js/source-to-classes.tab_i
/test/build/kotlin/compileKotlin2Js/caches-js/js/source-to-classes.tab_i.len
/test/build/kotlin/compileKotlin2Js/caches-js/js/subtypes.tab
/test/build/kotlin/compileKotlin2Js/caches-js/js/subtypes.tab.keystream
/test/build/kotlin/compileKotlin2Js/caches-js/js/subtypes.tab.keystream.len
/test/build/kotlin/compileKotlin2Js/caches-js/js/subtypes.tab.len
/test/build/kotlin/compileKotlin2Js/caches-js/js/subtypes.tab.values.at
/test/build/kotlin/compileKotlin2Js/caches-js/js/subtypes.tab_i
/test/build/kotlin/compileKotlin2Js/caches-js/js/subtypes.tab_i.len
/test/build/kotlin/compileKotlin2Js/caches-js/js/supertypes.tab
/test/build/kotlin/compileKotlin2Js/caches-js/js/supertypes.tab.keystream
/test/build/kotlin/compileKotlin2Js/caches-js/js/supertypes.tab.keystream.len
/test/build/kotlin/compileKotlin2Js/caches-js/js/supertypes.tab.len
/test/build/kotlin/compileKotlin2Js/caches-js/js/supertypes.tab.values.at
/test/build/kotlin/compileKotlin2Js/caches-js/js/supertypes.tab_i
/test/build/kotlin/compileKotlin2Js/caches-js/js/supertypes.tab_i.len
/test/build/kotlin/compileKotlin2Js/caches-js/js/translation-result.tab
/test/build/kotlin/compileKotlin2Js/caches-js/js/translation-result.tab.keystream
/test/build/kotlin/compileKotlin2Js/caches-js/js/translation-result.tab.keystream.len
/test/build/kotlin/compileKotlin2Js/caches-js/js/translation-result.tab.len
/test/build/kotlin/compileKotlin2Js/caches-js/js/translation-result.tab.values.at
/test/build/kotlin/compileKotlin2Js/caches-js/js/translation-result.tab_i
/test/build/kotlin/compileKotlin2Js/caches-js/js/translation-result.tab_i.len
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/counters.tab
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/file-to-id.tab
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/file-to-id.tab.keystream
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/file-to-id.tab.keystream.len
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/file-to-id.tab.len
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/file-to-id.tab.values.at
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/file-to-id.tab_i
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/file-to-id.tab_i.len
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/id-to-file.tab
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/id-to-file.tab.keystream
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/id-to-file.tab.keystream.len
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/id-to-file.tab.len
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/id-to-file.tab.values.at
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/lookups.tab
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/lookups.tab.keystream
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/lookups.tab.keystream.len
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/lookups.tab.len
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/lookups.tab.values.at
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/lookups.tab_i
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/lookups.tab_i.len
/test/build/kotlin/compileKotlin2Js/last-build.bin
/test/build/kotlin/testjar-classes.txt
/test/build/libs/test.jar
/test/build/tmp/jar/MANIFEST.MF
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/*.tab_i
/test/build/kotlin/compileKotlin2Js/caches-js/lookups/*.len
/app/bulid/dev/lib.js.map
/test/build/kotlin-js-min/main/crypto.js
/test/build/kotlin-js-min/main/lib.js.map
/test/build/kotlin-js-min/main/sql.js
/test/build/kotlin/compileKotlin2Js/caches-js/js/translation-result.tab.values
/test/build/kotlin/compileKotlin2Js/caches-js/js/translation-result.tab.values.s
/test/build/classes/kotlin/main/test.js.map
/test/build/kotlin-js-min/main/test.js.map
/test/build/resources/main/testJSON.json
*.salive
